/* GLOBAL */
*,
::before,
::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --primary-color: #00cdce;
}


html {
    font-size: 14px;
    scroll-behavior: smooth;
}

body {
    /* font-size: 1.4rem; */
    font-family: "Montserrat", sans-serif;
    color: #212529;
    background-color: white;
    letter-spacing: 1px;
}

input,
textarea,
select,
button {
    font-size: inherit;
    font-family: inherit;
}

a {
    text-decoration: none;
    color: #fff;
}

h2 {
    font-size: 4rem;
    font-weight: 500;
    margin-bottom: 3.2rem;
    text-align: center;
    letter-spacing: 1px;
}

button {
    background-color: #000;
    border: 1px solid #000;
    font-size: 1.22rem;
    font-weight: 300;
    padding: 7px 18px;
    display: inline-block;
    letter-spacing: 1px;
    color: #00cdce;
    transition: all .5s;
    cursor: pointer;
}

button:hover {
    color: #fff;
}

/* section {
    padding: 5rem 0;
} */

/* HEADER */
header {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    z-index: 99;
}

.header__content {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    line-height: 20px;
}

.header__nav ul {
    list-style: none;
}

.header__nav ul li {
    display: inline;
}

.header__nav ul li a {
    font-size: 1.1rem;
    padding: 10px 15px;
    letter-spacing: 1px;
    border-bottom: 2px solid #fff;
    margin: 0 16px;
    transition: all .5s;
}

.header__nav ul li a:hover,
.header__nav ul .active a {
    color: var(--primary-color);
    border-bottom: 2px solid rgba(255, 255, 255, 0);
}

.header__logo {
    font-size: 35px;
    font-weight: 300;
    padding: 15px 0;
    color: white;
    letter-spacing: 2px;
}


.header__logo span {
    color: var(--primary-color)
}

/* SLIDER / CAROUSEL */
.slider {
    width: 100%;
    height: 100%;
}

.slider__content {
    color: #fff;
    position: relative;
}

.slider__image {
    display: block;
}

.slider__desc {
    /* border: 3px solid green; */
    position: absolute;
    top: 50%;
    left: 50%;
    margin: 0;
    transform: translateX(-50%);
    /* transform: translateY(50%); */
    text-align: center;

}

.slider__desc h1 {
    font-size: 4.3rem;
    letter-spacing: 3px;
    margin: 0 0 10px;
}

.slider__desc p {
    font-size: 1.7rem;
    color: #d3d8d8;
    line-height: 35px;
}

/* Slider Owl Carousel Control */
.owl-carousel .owl-dots {
    position: absolute;
    display: inline-block;
    top: 80.5%;
    left: 44.5%;
}

.owl-carousel .owl-dots .owl-dot {
    margin: 0 5px;
}

.owl-carousel .owl-dots .owl-dot span {
    width: 12px;
    height: 12px;
}

.owl-carousel .owl-dots .owl-dot:hover span {
    background-color: #d6d6d6
}

.owl-carousel .owl-dots .owl-dot.active span {
    background-color: #000;
}

.slider__content .owl-carousel .owl-nav .owl-prev {
    background: url('../img/left-arrow.png') no-repeat;
    position: absolute;
    top: 42%;
    left: 40px;
    opacity: 0.7;
    z-index: 3;
    text-indent: -9999px;
    overflow: hidden;
    text-decoration: none;
    height: 64px;
    width: 64px;
}

.slider__content .owl-carousel .owl-nav .owl-next {
    background: url('../img/right-arrow.png') no-repeat;
    position: absolute;
    top: 42%;
    right: 40px;
    opacity: 0.7;
    z-index: 3;
    text-indent: -9999px;
    overflow: hidden;
    text-decoration: none;
    height: 64px;
    width: 64px;
}

/* SESSION ABOUT */
#about {
    width: 70%;
    margin: 0 auto;
    padding: 5rem 0;
    text-align: center;
}

.about__content {
    display: flex;
    margin: 0 auto;
}

.about__item {
    padding: 0 15px;
}

.about__item p {
    margin-top: .8rem;
    letter-spacing: 1px;
    line-height: 2rem;
    color: #7f7777;
}

.about__item i {
    width: 100px;
    height: 100px;
    border: 1px solid #7f7777;
    border-radius: 50%;
    line-height: 7rem;
    font-size: 2rem;
    cursor: pointer;
    transition: all .5s;
}

.about__item i:hover {
    color: #fff;
    background-color: var(--primary-color);
}

/* STATS / COUNTUP */
.stats {
    background-color: var(--primary-color);
    text-align: center;
    align-items: center;
    padding: 5rem 0;
}

.stats__content {
    width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
}

.stats__item {
    width: 100%;
}

.stats__item p:first-of-type {
    font-size: 4rem;
    color: white;
}

.stats__item p:last-child {
    font-size: 2.15rem;
    letter-spacing: 2px;
    margin-top: 5px;
}

/* BLOG */
#blog {
    padding: 5rem 0;
}

.blog__content {
    width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    text-align: left;
}

.blog__item {
    margin: 0 15px;
    border-top: 5px solid var(--primary-color);
    width: 31%;
}

.blog__item img {
    width: 100%;
    /* height: 70%; */
}

.blog__info {
    padding: 1.5rem;
    background: rgba(51, 51, 51, 0.103);
}

.blog__info a {
    color: var(--primary-color);
    font-size: 1.4rem;
    font-weight: 600;
    letter-spacing: 1px;
    transition: all .5s;
    cursor: pointer;
}

.blog__info a:hover {
    color: #000;
}

.blog__info p {
    line-height: 26px;
    font-size: 15px;
    margin: 7px 0;
}


/*MODAL - POPUP CONTENT*/
.modal {
    position: relative;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4);
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 999;
}

.modal.open {
    display: flex;
}

.modal__container {
    width: 37%;
    margin: 0 auto;
    background-color: #fff;
    position: absolute;
    top: 30px;
    left: 500px;
    animation: modalFadeIn ease .5s;
}

.modal__header {
    display: flex;
    background: var(--primary-color);
    justify-content: center;
    padding: 18px;
    position: relative;
    border-bottom: 1px solid #e5e5e5;
}

.modal__header h4 {
    font-size: 2.4rem;
    color: #fff;
    text-align: center;
    font-weight: 600;

}

.modal__header i {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 2.8rem;
    color: #a0260f;
    text-shadow: 0 1px 0 #fff;
    font-weight: bold;
    line-height: 1;
    cursor: pointer;
    padding: 15px;
}

.modal__header i:hover {
    color: #000;
    opacity: .5;
}

.modal__content img {
    width: 100%;
    padding: 22px;
    height: 100%;
}

.modal__content p {
    padding: 0 45px 37px;
    font-size: 15px;
    color: #999;
    text-align: left;
    line-height: 2rem;
}

/* VIDEO - GET MORE */
#getMore {
    display: flex;
}

.getMore__video {
    width: 45%;
    background: url(../img/video.jpg) top / cover no-repeat;
    text-align: center;
    padding: 0;
    position: relative;
}


.getMore__content {
    width: 55%;
    background-color: var(--primary-color);
}

.getMore__item {
    padding: 0 77px;
    text-align: center;
}

.getMore__item p {
    font-size: 15px;
    color: #fff;
    line-height: 2rem;
    letter-spacing: 1px;
}

.getMore__btn {
    margin: 28px 0 56px;
}

.getMore__item h2 {
    font-size: 3rem;
    margin: 42px 0 21px;
}

.getMore__video a {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 68px;
    height: 68px;
    text-align: center;
    line-height: 69px;
    border-radius: 50%;
    background-color: rgba(0, 189, 189, 0.53);
    color: white;
    font-size: 30px;
    cursor: pointer;
}


/* GALLERY */
#gallery {
    padding: 5rem 0;
}

.gallery__content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px 30px;
    padding: 0 15px;
    width: 75%;
    margin: 0 auto;
}

.gallery__item {
    position: relative;
    cursor: pointer;
}

.gallery__item img {
    width: 100%;
    display: block;
}

.gallery__overlay {
    position: absolute;
    background-color: rgba(0, 0, 0, .72);
    text-align: center;
    top: 15px;
    right: 15px;
    left: 15px;
    bottom: 15px;
    opacity: 0;
    transition: all .3s;
}

.gallery__item:hover .gallery__overlay {
    opacity: 1;
}

.gallery__overlay div {
    padding: 22.5px 60px;
}

.gallery__overlay div h3 {
    font-size: 1.5rem;
    color: #00cdce;
    padding: 29.25px 0;
    border-top: 1px solid;
    border-bottom: 1px solid;
    font-weight: 500;
    margin-bottom: 18px;
}

.gallery__overlay p {
    font-size: 15px;
    color: #fff;
}

/* SUBSCRIBE-FORM */
#subscribe {
    padding: 5rem 0;
    background-color: var(--primary-color);
}

.subscribe__content {
    width: 70%;
    margin: 0 auto;
    text-align: center;
}

.subscribe__content p {
    font-size: 15px;
    color: white;
    padding: 15px 165px;
    margin-bottom: 1rem;
}

.subscribe__btn {
    display: block;
    margin: 20px auto;
    padding: 10px 50px;
    color: white;
    font-size: 1.7rem;
    font-weight: 500;
    letter-spacing: 2px;
    border: 1px solid #000;
    cursor: pointer;
    transition: all .5s;
}

.subscribe__btn:hover {
    color: #000;
    background-color: #dfdfdf;
}

.subscribe__form input {
    width: 50%;
    padding: 17px;
    border: none;
    font-size: 13px;
    color: #000000;
    font-weight: 500;
    outline: none;
    letter-spacing: 1px;
}

/* AGENTS */
#agents {
    padding: 5rem 0;
}

.agents__content {
    width: 75%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
}

.agents__item img {
    display: block;
}

.agents__caption {
    padding: 21px 14px;
    background: rgba(0, 0, 0, 0.79);
    text-align: center;
    color: #fff;
}

.agents__caption h3 {
    margin-bottom: 5px;
    font-size: 21px;
    color: var(--primary-color);
    font-weight: 600;
    letter-spacing: 1px;
}

.agents__social {
    margin: 1rem 0 0;
}

.agents__social i {
    height: 30px;
    width: 30px;
    line-height: 30px;
    border: solid 2px #fff;
    margin: 0 10px;
    cursor: pointer;
    transition: all .5s;
}

.agents__social i:first-child:hover{
    background: #3b5998;
}

.agents__social i:nth-child(2):hover{
    background: #55acee;
}

.agents__social i:last-child:hover{
    background: #f26522;
}

/* CONTACT */
.contact__map {
    border: 2px solid var(--primary-color);
    background: #bbb;
    padding: 1em;
    width: 100%;
}

.contact__map iframe {
    width: 100%;
}

.contact_conent{
    padding: 5rem 0;
}

.contact__form {
    width: 70%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
}

.contact__formInfo input, .contact__formMessage textarea {
    width: 100%;
    background: rgb(239, 239, 239);
    font-size: 1rem;
    padding: 0.9rem 1rem;
    margin-bottom: 2rem;
    border: none;
    border-bottom: solid 2px #999;
    outline: none;
    transition: all .5s;
}

.contact__formMessage {
    padding: 0 15px;
}

.contact__formMessage textarea {
    padding: 1rem;
    resize: none;
}

.contact__formMessage input {
    width: 100%;
    outline: none;
    color: #fff;
    padding: 0.85rem 5rem;
    font-size: 1.1rem;
    background-color: #000;
    cursor: pointer;
    transition: all .5s;
    border: none;
}

.contact__formMessage input:hover {
    color: #000;
    background: var(--primary-color);
}

/* FOOTER */
footer {
    background-color: var(--primary-color);
}

.footer__content{
    width: 60%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding: 2rem 0;
    text-align: center;
}

.footer__copyright {
    font-size: 15px;
    color: #fff;
    margin-top: 16px;
}

.footer__copyright span {
    color: red;
    cursor: pointer;
    transition: all .5s;
}

.footer__social i {
    width: 35px;
    height: 35px;
    border: 1px solid #fff;
    line-height: 35px;
    margin: 9.5px;
    color: white;
    font-size: 19px;
    cursor: pointer;
    transition: all .5s;
}

.footer__social i:first-child:hover {
    color: #3b5998;
}

.footer__social i:nth-child(2):hover {
    color: #55acee;
}

.footer__social i:nth-child(3):hover {
    color: #f26522;
}

.footer__social i:last-child:hover {
    color: #45668e;
}

/* BACK to TOP */
.backToTop{
    z-index: 9;
    position: fixed;
    right: 50px;
    bottom: 50px;
    visibility: hidden;
    opacity: 0;
    transition: all .5s;
}

.cd-top--is-visible { 
    visibility: visible;
    opacity: 1;
  }